{{ $featured_image := .Params.featured_image }}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | relURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}'); background-position: center;">
    <div class="pb3-m pb5 bg-black-60">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</h1>
          {{ with .Params.description  }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ . }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  {{ if .Params.featured_cover_css_class }}
    {{ .Scratch.Set "featured_css_class" .Params.featured_cover_css_class }}
  {{ else }}
    {{ .Scratch.Set "featured_css_class" .Site.Params.featured_cover_css_class }}
  {{ end }}

  <header class="{{ .Scratch.Get "featured_css_class" }}">
    {{ if .Scratch.Get "featured_css_class" }}
    <div class="bg-black-30">
    {{ else }}
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
    {{ end }}
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
